/**
 * Description: CSS Styles for the index.html, the webpage of the PPE-Conference 2015 at Zeppelin University.
 * Version: 0.0.1
 * Init update: 2015/07/13
 * Last update: 2015/07/16
 * Author: bkroggel <b.kroggel@zeppelin-university.net>
           tswegner <t.wegner@zeppelin-university.net>
 *
 * Summary:
 *
 *  0. ELEMENT
 *    - 0.1. FONTS
 *    - 0.2. TYPE ELEMENT
 *  1. HEADER
 *    - 1.1. NAVIGATIONBAR
 *    - 1.2. SLIDER MENU
      - 1.3. HEADER
 *  2. ABOUT THE CONFERENCE
    3. TARGET GROUPS & GOALS
    4. FORMAT
    5. LOCATION
    6. TEAM
    7. FOOTER 
 */

/* ==========================================================================
   0. ELEMENT
   ========================================================================== */

/* 0.1. FONTS
   ========================================================================== */
p,
a,
li {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0,0,0,0.75);
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0,0,0,0.75);
}

h1 {
  margin-top: 0px;
}

.section--list a {
  line-height: 3em;
  color: white;
  text-decoration: none;
  font-weight: 100;
  text-transform: lowercase;
}

.slide--menu .section-head p {
text-transform: uppercase;
color: rgb(155, 155, 155);
font-size: 0.8em;
font-weight: 200;
}

footer h3,
footer p,
footer a,
footer a:hover,
.sidebar a,
.sidebar a:hover,
.reference-row p {
  color: white;
  text-decoration: none;
}

footer h3 {
  font-size: 1em;
  font-weight: 200;
  text-transform: uppercase;
}

footer p,
footer a {
  font-size: 0.8em;
  font-weight: 200;
  margin-bottom: 5px;
}

.columns--readmore {
  margin-top: 10px;
}

.columns--readmore>a {
  border: 1px solid white;
  padding: 4px;
  border-radius: 4px;
}

footer a:hover,
.element-reference a:hover {
  border-color: rgb(240, 97, 56);
  color: rgb(240, 97, 56);
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-webkit-transition: all .5s;
  -ms-webkit-transition: all .5s;
  -o-webkit-transition: all .5s;
}

a:focus {
  text-decoration: none;
}


/* 0.2. TYPE ELEMENT
   ========================================================================== */
.anchor {
  padding-top: 90px;
}

/* ==========================================================================
   1. HEADER
   ========================================================================== */

/* 1.1. NAVIGATIONBAR
   ========================================================================== */
body {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
}

.cbp-af-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  z-index: 10000;
  height: 230px;
  /*overflow: hidden;*/
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
  -webkit-transition: background .3s;
  -moz-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}

.cbp-af-header .cbp-af-inner {
  width: 80%;
  /*max-width: 69em;*/
  margin: 0 auto;
  /*padding: 0 1.875em;*/
}

.cbp-af-header nav,
.cbp-af-header nav li {
  display: inline-block;
  position: relative;
}

.cbp-af-header nav ul li ul li {
  width: 100%;
}

.cbp-af-header nav ul li ul li a {
  margin: 0;
}

.cbp-af-header nav ul {
  right: 0;
  left: auto;
}

.dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-top: 10px;
  background-color: rgb(87, 88, 91);
  color: rgb(155, 155, 155);
  padding: 15px 0;
}

.cbp-af-header .logo {
  position: relative;
  float: left;
  background: url(../img/logo.png);
  background-size: cover;
  width: 153px;
  height: 61px;
  margin-top: 81px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.cbp-af-header.cbp-af-header-shrink .logo {
  margin-top: 24px;
  height: 40px;
  width: 100px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.cbp-af-header nav {
  float: right;
  line-height: 230px;
}

.cbp-af-header nav ul li a {
  color: rgb(155, 155, 155);
  margin: 0 0 0 20px;
  text-transform: lowercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.cbp-af-header nav a:hover {
  color: rgb(240, 97, 56);
  text-decoration: none;
}

/* Transitions and class for reduced height */
.cbp-af-header nav {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
  height: 90px;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: background .5s;
  -moz-transition: background .3s;
  -o-transition: background .3s;
  transition: background .3s;
}

.cbp-af-header.cbp-af-header-shrink nav {
  line-height: 90px;
}

li.active a {
  color: rgb(240, 97, 56) !important;
}

.dropdown-menu li a{
  line-height: 28px !important;
}

.dropdown-menu>li>a:hover {
  transition: background-color 0.5s;
}

.dropdown {
  line-height: 0px;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  outline: none;
  text-decoration: none;
  background: none;
}

/* 1.2. SLIDER MENU
   ========================================================================== */
.js-slideout-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
}

.slideout-menu {
 position: fixed;
 left: 0;
 top: 0;
 bottom: 0;
 right: 0;
 padding-right: 30px;
 z-index: 0;
 width: 256px;
 overflow-y: auto;
 -webkit-overflow-scrolling: touch;
 display: none;
 background-color: #1D1F20;
 background-image: -webkit-linear-gradient(55deg, #1D1F20, #404348);
 background-image: -o-linear-gradient(55deg, #1D1F20, #404348);
 background-image: linear-gradient(145deg, #1D1F20, #404348);
}

.slideout-panel {
 position: relative;
 z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
 overflow: hidden;
}

.slideout-open .slideout-menu {
 display: block;
}

.slide--section {
  padding-left: 15px;
}

.slide--menu a.slide--logo {
  background: url(../img/logo.png);
  display: block;
  background-size: cover;
  width: 80px;
  height: 32px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.slide--menu hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.section--title {
  text-transform: uppercase;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.2);
  font-weight: 200;
  margin-top: 30px;
}

.section--list {
  list-style: none;
  padding-left: 0;
}

/* 1.3. HEADER
   ========================================================================== */
#panel {
  background: white;
}

.header {
  /*background: url(../img/IMG_6176.jpg) center no-repeat;*/
  background: url(../img/header_background_6.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 150px;
  height: 110vh;
}

.header button {
  background: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  z-index: 9999;
}

.fa-navicon {
  font-size: 3em;
  color: rgb(87, 88, 91);
}

.header--logo-mobil {
  margin-bottom: 10px;
}

.header--title-picture img {
  width: 60%;
  height: auto;
}

.header--title-picture {
  text-align: center;
  padding-top: 120px;
}

.header--button {
  margin-top: 30px;
  border: 1px solid black;
  background: none;
  color: black;
  text-transform: lowercase;
}

.header--button:hover {
  border-color: black;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  background-color: white;
}

@media (min-width: 768px) {
  .header--title-picture img {
    width: 45%;
  }

  .header--title-picture {
    padding-top: 15%;
  }
}

@media (min-width: 992px) {
  .header--title-picture img {
    width: 35%;
}

  .header--title-picture{
    padding-top: 200px;
  }
}
/* ==========================================================================
   2. ABOUT THE CONFERENCE
   ========================================================================== */
.about {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.about__header h1 {
  text-transform: lowercase;
  margin-bottom: 35px;
  font-size: 30px;
  color: rgb(155,155,155);
}

.about__main {
  text-align: left;
}

#welcome-slogan {
  text-transform: lowercase;
  color: rgb(155,155,155);
  margin-top: 12px;
  font-size: 23px;
  text-align: left;
}

@media (min-width: 992px) {
  .about {
    width: 80%;
    padding-bottom: 85px;
  }

  .about__main {
  -webkit-column-count: 2;
  -webkit-column-gap: 50px;
  text-align: justify;
  }

  #welcome-slogan {
    margin-top: 21px;
  }
}

/* ==========================================================================
   3. TARGET GROUPS & GOALS
   ========================================================================== */
.target__all {
  width: 90%;
  margin: 0 auto;
}

.target__header h1 {
  text-transform: lowercase;
  margin-bottom: 35px;
  font-size: 30px;
  color: rgb(155,155,155);
}

.target__main {
  text-align: left;
}

.target--column {
  padding-left: 0px;
  padding-right: 0px;
}

.target--column span {
  color: rgb(240, 97, 56);
}

@media (min-width: 992px) {
  .target {
    padding-bottom: 150px;
  }

  .target__all {
    width: 80%;
  }

  .target__main {
    text-align: justify;
  }

  #target-row {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #first-target-column {
    padding-right: 25px;
  }

  #second-target-column {
    padding-left: 25px;
  }
}

/* ==========================================================================
   4. FORMAT
   ========================================================================== */
.format {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.format--image {
  background: url("../img/seminarraum.jpg") center;
  background-size: cover;
  height: 150px;
  display: table;
  width: 100%;
}

.format--image h1 {
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  display: table-cell;
  vertical-align: middle;
}

.format__main {
  text-align: left;
}

.format--column {
  padding-left: 0px;
  padding-right: 0px;
}

.format__text {
  width: 90%;
  margin: 0 auto;
}

.format__text h1 {
  text-transform: lowercase;
  margin-bottom: 35px;
  font-size: 30px;
  color: rgb(155,155,155);
}

@media (min-width: 992px) {
  .format {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .format--image {
    /*height: 534px;*/
    height: 100vh;
  }

  .format__main {
    text-align: justify;
  }

  .row--viewport {
    height: 100vh;
  }

  .format--column {
    /*height: 534px;*/
    height: 100vh;
    display: table;
  }

  .format__text {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10%;
    padding-left: 10%;
  }

  #second-format-column {
    padding: 0px 80px;
  }
}


/* ==========================================================================
   5. LOCATION
   ========================================================================== */
.location {
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
}

.location--image {
  background: url("../img/IMG_7050.jpg") center;
  background-size: cover;
  height: 150px;
  display: table;
  width: 100%;
}

.location--image h1 {
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  display: table-cell;
  vertical-align: middle;
}

.location__main {
  text-align: left;
}

.location--column {
  padding-left: 0px;
  padding-right: 0px;
}

.location__text {
  width: 90%;
  margin: 0 auto;
}

.location__text h1 {
  text-transform: lowercase;
  margin-bottom: 35px;
  font-size: 30px;
  color: rgb(155,155,155);
}

@media (min-width: 992px) {
  .location {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .location__main {
    text-align: justify;
  }

  .location--image {
    /*height: 534px;*/
    height: 100vh;
  }

  .location--column {
    /*height: 534px;*/
    height: 100vh;
    display: table;
  }

  @media (min-width: 992px) {
    .location--column {
      margin-bottom: -88px; /* allows to stop anchor as soon as location is hidden by the navbar */
    }

    #location-row {
      margin-bottom: -88px; /* allows to stop anchor as soon as location is hidden by the navbar */
    }
  }

  .location__text {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10%;
    padding-left: 10%;
  }

  #first-location-column {
    padding: 0px 80px;
  }
}

/* ==========================================================================
   6. TEAM
   ========================================================================== */
.team {
  padding-bottom: 30px;
}

.team__header {
  width: 90%;
  margin: 0 auto;
}

.team__header h1 {
  text-transform: lowercase;
  margin-bottom: 35px;
  font-size: 30px;
  color: rgb(155,155,155);
}

#owl-demo {
  width: 94%;
  margin: 0 auto;
}

.team-item {
  padding: 5%;
}

.team-item img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.team-item h1 {
  /*margin-top: 25px;*/
  /*padding-top: 25px;*/
  text-align: left;
  font-size: 1.3em;
  /*border-top: 1px solid rgb(246,97,56);*/
}

.team-item h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  /*padding-bottom: 25px;*/
  text-align: left;
  font-size: 0.8em;
  text-transform: uppercase;
  /*border-bottom: 1px solid rgb(246,97,56);*/
}

.owl-theme .owl-controls .owl-page span {
  background: rgb(87, 88, 91);
  /*margin-top: 25px;*/
}

@media (min-width: 992px) {
  .team {
    padding-bottom: 100px;
  }

  .team__header {
    width: 80%;
  }

  .team-item {
    padding: 10%;
  }

  #owl-demo {
  width: 84.5%;
  }
}
/* ==========================================================================
   7. FOOTER
   ========================================================================== */
footer {
  background-color: rgb(87, 88, 91);
}

.footer--row {
  margin-left: 0;
  margin-right: 0;
  width: 93%;
  margin: 0 auto;
}

.footer--columns {
  padding: 0 1% 5px;
  overflow: hidden;
}
  
.icon-email, {
  vertical-align: sub;
}

.columns--social-buttons a {
  font-size: 35px;
  padding-right: 5px;
}

.zu-logo {
  background: url(../img/zu_logo_white.png) no-repeat center;
  background-size: cover;
  width: 115px;
  height: 30px;
  margin: 30px 0;
  overflow: hidden;
}

.copyright {
  width: 90%;
  margin: 5px auto 0px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
}

@media (min-width: 992px) {
  .footer--row {
    width: 82%;
    margin: 0 auto;
  }

  .copyright {
    width: 80%;
    margin: 5px auto 0px;
  }
}

/* ==========================================================================
   8. Sidebar
   ========================================================================== */

.sidebar.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 999999;
}

@media (min-width: 768px ) {
  .sidebar.right {
    width: 75%;
  }
}

@media (min-width: 992px ) {
  .sidebar.right {
    width: 50%;
  }
}

.sidebars > .sidebar {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    position: fixed;
    padding: 30px;
    font-size: 2em;
}

.close-line a {
  font-size: 12px;
  background-color: rgb(240, 97, 56);
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  line-height: 2.5;
  display: block;
  border-radius: 10px;
  text-transform: lowercase;
}

.close-line i {
  color: white;
}

.close-line .fa-arrow-circle-left {
  vertical-align: sub;
}

.close-line .fa-arrow-circle-left,
.close-line .fa-chevron-circle-down {
  font-size: 20px;
  padding-right: 5px;
}

.scrollable-content {
  margin-top: 20px;
  padding-bottom: 30px;
  height: 100%;
  overflow: scroll;
}

.impressum p {
  color: rgb(87, 88, 91);
  font-size: 12px;
}

.impressum h1 {
  font-size: 16px;
  margin-bottom: 0;
}

.impressum h2 {
  font-size: 12px;
  font-style: oblique;
  margin: 3px 0 20px;
}

.impressum h3 {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
}

.element-reference ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.element-reference a,
.element-reference li {
  color: rgb(87, 88, 91);
  font-size: 12px;
}

.element-reference .fa-github {
  color: rgba(155, 155, 155, 1);
}

li.head {
  color: black;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.reference-row {
  display: table;
}

.reference-icon-section {
  width: 6%;
  height: 40px;
  float: left;
  display: table;
  vertical-align: middle;
}

.reference-icon-section span {
  display: table-cell;
  vertical-align: middle;
}

.reference-text-section {
  width: 94%;
  float: left;
  display: table;
  height: 40px;
}

.reference-text-section p {
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  line-height: 16px;
}

.close-line .fa-chevron-circle-down {
  vertical-align: middle;
}

.panel-default>.panel-heading {
  background: none;
  padding: 0;
}

.panel {
  border: none;
  box-shadow: none;
}

 .panel-group .panel-heading+.panel-collapse>.panel-body {
  border: 1px solid rgb(155, 155, 155);
  border-radius: 10px;
  margin-top: 10px;
 }